.nav-container{
    background-color: #151526;
    height:20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#e4e9ed;
    align-items: center;
    padding:30px;
  }
  
  .buttons-container{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width:30%;
    justify-content: space-between;
  
  }
  